@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Regular.ttf')
}
@font-face {
  font-family: 'Anton';
  src: url('~@/assets/fonts/Anton/Anton-Regular.ttf')
}
@font-face {
  font-family: 'Quicksand';
  src: url('~@/assets/fonts/Quicksand/Quicksand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('~@/assets/fonts/Quicksand/Quicksand-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
}